.justify-image {
    text-align: justify;
    margin: 20px 20px;
}

.justify-image img {
    display: inline-block;
}

.justify-image:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

.field-promo {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5)
    ),
    url(https://www.cognifide.com/~/media/cognifide2014/products/main-cognifide-1920x380px-v2.jpg);
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 70px;
}

.field-promo > h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0 1px 0 black;
    transform: translate(-50%, -50%);
}

.field-promo > span {
    font-family: ProximaNova-Semibold, arial, helvetica, sans-serif;
}

.social {
    color:#edebeb;
    margin: 10px;
}

.cog-green {
    color: #a0ce4e;
}

.container-content {
    font-size:  1.6rem;
    color: #747474;
    padding: 5px;
}
